body{
    margin: 0;
}
#container{
    position: relative;
    width: 450px;
    // height: 600px;
    margin: 0 auto;
    margin-top: 30px;

}
#game{
    width: 450px;
    height: 450px;
    background-color: pink;
}
#game div{
    position: absolute;
    color:white;
    width: 149px;
    height: 149px;
    background-color:rgb(254,222,164) ;
    box-shadow: 1px 1px 2px #777;
    text-align: center;
    line-height: 150px;
    font-size: 150px;
    cursor: pointer;
    -webkit-transition: 0.3s;/*浏览器前缀，兼容其他浏览器 chrome*/
       -moz-transition: 0.3s;/*firefox*/
        -ms-transition: 0.3s;/*ie*/
         -o-transition: 0.3s;/*opera*/
            transition: 0.3s;
}
#game div:hover{
    color: green;
}
#control{
    width:450px;
    height:150px;
    text-align: center;
}
#control rowspan{
    height: 30px;
    font-size: 20px;
    margin-top: 10px;
}
#start,#reset{
    display: inline-block;
    font-size: 28px;
    width: 100px;
    height: 28px;
    line-height: 28px;
    background-color: #20a6fa;
    color: #ffe171;
    text-shadow: 1px 1px 2px #ffe171;/*字体阴影*/
    border-radius: 5px;/*圆角属性*/
    box-shadow: 2px 2px 5px #4c98f5;/*盒子阴影*/
    text-align: center;/*文字居中*/
    cursor: pointer;

}

/*给Reset按钮设置属性*/
#d1{
    left: 0px;
}
#d2{
    left: 150px;
}
#d3{
    left: 300px;
}
#d4{
    top: 150px;
}
#d5{
    top: 150px;
    left: 150px;
}
#d6{
    top: 150px;
    left: 300px;
}
#d7{
    top: 300px;
}
#d8{
    left: 150px;
    top: 300px;
}
/*这是预先给每个小方块按照顺序排好位置*/